@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Font: Inter by Rasmus Andersson */

body {
  margin: 0;
  /* Use 'Inter' as the primary font, with a standard sans-serif fallback */
  font-family: 'Inter', sans-serif;
  font-weight: 200; /* Set the default weight to regular */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


